@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
.igFrameBar {
  width: 100%;
  height: 300px;
  position: relative;
  margin: 40px auto 0 auto;
  display: flex;
}

.igData {
  width: 30%;
  position: relative;
  margin: 0 0 0 10%;
  float: left;
  align-self: flex-end;
  border: 3px solid black;
}

.igData1 {
  background: #9baec8;
  height: 0px;
  -webkit-animation: showBar1 1.2s 0.1s forwards;
  -moz-animation: showBar1 1.2s 0.1s forwards;
  animation: showBar1 1.2s 0.1s forwards;
}

.igData2 {
  background: #d9e1e8;
  height: 0px;
  -webkit-animation: showBar2 1.2s 0.2s forwards;
  -moz-animation: showBar2 1.2s 0.2s forwards;
  animation: showBar2 1.2s 0.2s forwards;
}

.igData:before {
  position: absolute;
  font-size: 18px;
  color: #333;
  font-family: "roboto";
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.igData1:before {
  content: "100%";
}

.igData2:before {
  content: "60%";
}

.igData:after {
  position: absolute;
  bottom: 0;
  color: #666;
  font-size: 18px;
  text-align: center;
  font-family: "roboto";
  font-weight: 300;
  width: 98%;
}

.igData1:after {
  content: "Greene Scholars";
}

.igData2:after {
  content: "State of California";
}

@-webkit-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 60%;
  }
}
@-moz-keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 60%;
  }
}
@keyframes showBar1 {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
@keyframes showBar2 {
  0% {
    height: 0px;
  }
  100% {
    height: 60%;
  }
}
