body {
  background-color: #ccc;
  max-width: 1600px;
}

header {
  background-color: #fff;
}
div.container {
  background-image: url("globe.png");
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 10px;
  background-color: #fff;
}

aside {
  float: left;
  width: 200px;
  background-color: rgba(204, 204, 204, .6);
  position: absolute;
  height: 500px;
}

aside ul {
  list-style: none;
  width: 85px;
}

aside li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 10px 0;
  background-color: lightblue;
  box-shadow: 4px 4px #aaa;
}

aside a {
  text-decoration: none;
}

aside a:hover {
  color: black;
  text-decoration: none;
}

main {
  float: left;
  margin-left: 210px;
  background-color: #fff;
  height: 500px;
}

h1 {
  text-shadow: 2px 2px #aaa;
}
