/*
 General
 */
a {
  color: #00747C;
}

a:hover {
  color: #00BBC9;
}

/*
  Header
 */
.header-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: #00747C;
}

.header-logo:hover {
  color: #00747C;
  text-decoration: none;
}

/*
  Navigation
 */
nav a.active {
  border-bottom: 3px solid #878787;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #878787;
}

/*
  Home Page Carousel
 */

.carousel-jumbotron {
  background-color: #999;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-jumbotron a, .carousel-jumbotron a:hover {
  color: #fff;
  text-decoration: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 48px;
  height: 48px;
}

.carousel-caption {
  background-color: rgba(48, 48, 48, 0.6);
  max-width: 100%;
  width:100%;
  left: 0;
  padding: 20px 5px 0 5px;
}

.carousel-caption h5 {
  font-size: 35px;
}

.carousel-caption p {
  font-size: 20px;
}

#carousel-thumbnails {
  height: 100px;
}

#carousel-thumbnails ul {
  list-style-type: none;
}

#carousel-thumbnails li {
  float: left;
  padding-right: 30px;
}

#carousel-thumbnails img {
  width: 150px;
}

#carousel-thumbnails li.active img {
  width: 155px;
  border: 3px solid #444;
}

/*
 What We Do
 */
#wwd-items {
  margin-bottom: 20px;
}

#wwd-items .row {
  border: 1px solid black;
  padding: 5px;
}

#wwd-items .wwd-item-image {
  padding-left: 0;
}

#wwd-items img {
  width: 100%;
}

/*
  Why It Works
 */
#wiw-items h2 {
  text-align: center;
  text-decoration: underline;
}

#wiw-items img {
  width: 100%;
}

#wiw-items .row {
  margin-bottom: 30px;
}

#wiw-items p.huge {
  font-size: 48px;
  text-align: center;
}

#wiw-items p.large {
  font-size: 30px;
  text-align: center;
}

#wiw-items p.medium {
  font-size: 17px;
  text-align: center;
}

.wiw-item-inner {
  padding: 20px;
  border: 5px solid #00747C;
  min-height: 100%;
}

#wiw-items .wiw-item-1 {
  padding-left: 0;
}

/* Charts */
.single-chart {
  width: 33%;
  justify-content: space-around ;
  margin: auto;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.color-green .circle {
  stroke: #4CC790;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/*
  About Us
 */
#about-us-items {
  margin-bottom: 20px;
}
#about-us-items img {
  width: 100%;
}

#about-us-items .row {
  border-bottom: 3px solid #00747C;
  padding-top: 10px;
}

#about-us-items .row:last-of-type {
  border-bottom: none;
}