/*
 General
 */
a {
  color: #00747C;
}

a:hover {
  color: #00BBC9;
}

/*
  Header
 */
.header-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: #00747C;
}

.header-logo:hover {
  color: #00747C;
  text-decoration: none;
}

/*
  Navigation
 */
nav a.active {
  border-bottom: 3px solid #878787;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #878787;
}

main {
  background-color: antiquewhite;
  padding-bottom: 10px;
}