table {
  border: 1px solid
}

#table1 th {
  background-color: dimgray;
  font-family: Georgia;
  font-size: 16px;
  padding-bottom: 5px;
}

#table1 td {
  font-family: Arial;
  font-size: 14px;
  padding-bottom: 5px;
}