table {
  border-collapse: collapse;
}

#table1 th, td {
  border: 1px solid black;
}

#table1 th {
  background-color: #aaa;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
  padding-bottom: 5px;
}

#table1 td {
  font-family: Arial, "Times New Roman", serif;
  font-size: 14px;
  padding-bottom: 5px;
  text-align: center;
}

#table1 .movie-title {
  width: 85px;
}

#table1 .movie-price {
  width: 80px;
}

#table2 th, td {
  border: 1px solid #993738;
}

#table2 th {

  color: #fff;
}

#table2 .region {
  text-align: left;
  width: 185px;
}

#table2 .percentage {
  text-align: right;
  width: 100px;
}

#table2 th {
  color: #fff;
  font-size: 16px;
  background-color: #993738;
}

#table2 .odd td {
  background-color: #aaa;
}

#table2 tfoot td {
  border: none;
}